.container {
    width: 1400px;
    margin: 0 auto;
}

.cad-h1 {
    text-align: center;
}

.flex-pai {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

p {
    color: #fff;
}

#table {
    border-radius: unset;
}