.container {
    width: 1400px;
    margin: 0 auto;
}

body {
    color: #fff !important
}

.cad-h1 {
    text-align: center;
}

.flex-pai {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
}

.flex-rule {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

body {
    color: #fff !important;
}

p {
    color: #fff;
}

#table {
    border-radius: unset;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.header div {
    display: flex;
    gap: 30px;
}

.header p {
    margin-bottom: unset;
}



.botao {
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 32px;
    background: #6c63ff;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
    text-align: center;
    padding: 10px 40px;
    text-align: center;

}

.botao:hover {
    background: #6728bb;
    color: #fff;
}

#modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    display: none;
}

#animacao {
    color: green;
    position: absolute;
    top: 20px;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, 0px);
    opacity: 0;
    font-weight: 800;
    animation: sumir 4.5s linear;
    text-align: center;
    border-radius: 30px;

}

@keyframes sumir {
    from {
        opacity: 1;
        transform: translate(-50%, 0px);
    }

    to {
        opacity: 0;
        transform: translate(-50%, 0px) scale(1.4);
    }
}

.usuario-div {
    margin-top: 90px;
}

#modal>div>a,
#modal>div>button {
    color: #333;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 10px;
    text-decoration: none;

}

#modal>div {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

#modal p {
    color: #333 !important;
    text-align: center;

}

label,
caption {
    color: #fff !important
}

#mes {
    background: #e4ebff !important;
    text-align: center;

}

.searchDiv {
    display: flex;
    gap: 15px;
}

.searchDiv button {
    padding: 10px 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 2px white);
    background: linear-gradient(271deg, white, #fbfbfb, #fff);
}

.searchDiv input {
    padding-left: 5px;
    border-radius: 10px;
}

.searchDiv input:focus-visible {
    outline: 0.3px solid #e8b0ff;
}

#limpar,
#searchNotFound {
    display: none;
}